* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIABLES */
:root {
  --color-gray: #999;
  --color-gray--light: #eee;
  --color-dark: #222;
  --color-white: #fff;
  --color-highlight: #09c;
}

/* GRID */
.grid-container {
  width: 960px;
  margin: 0 auto;
}

/* FLEX HELPERS */
.is-flex {
  display: flex;
}

.is-flex--vertical-centered {
  align-items: center;
}

.is-flex--horizontal-centered {
  justify-content: center;
}

.is-flex--space-between {
  justify-content: space-between;
}

/* TYPOGRAPHY */
@font-face {
  src: url("/fonts/PressStart2P-Regular.ttf");
  font-family: "PressStart2P";
}

@font-face {
  src: url("/fonts/RobotoSlab-Bold.ttf");
  font-family: "RobotoSlab";
}

@font-face {
  src: url("/fonts/RobotoSlab-Light.ttf");
  font-family: "RobotoRegular";
}

a {
  transition: color 0.3s;
}

body {
  background-color: var(--color-white);
  font-family: "RobotoRegular", Arial, Helvetica, sans-serif;
}

/* HEADER */
.header {
  width: 100%;
  height: 100px;
  color: var(--color-white);
  background-color: var(--color-dark);
}

.header .grid-container {
  height: 100%;
}

.header__logo img {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: var(--color-dark);
}

.header__logo h1 {
  font-size: 14px;
  font-weight: normal;
  font-family: "PressStart2P", Arial, Helvetica, sans-serif;
}

.header__nav ul {
  list-style: none;
}

.header__nav ul li:not(:last-child) {
  margin-right: 20px;
}

.header__nav ul li a {
  font-size: 14px;
}

.header a {
  text-decoration: none;
  color: var(--color-white);
}

.header a:hover {
  color: var(--color-highlight);
}

/* MAIN */
.main {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* POST */
.post {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.post__head a {
  text-decoration: none;
}

.post__head h1 a {
  font-size: 30px;
  color: var(--color-dark);
  font-family: "RobotoSlab", Arial, Helvetica, sans-serif;
}

.post__head h1 a:hover {
  color: var(--color-highlight);
}

.post__head__meta span {
  font-size: 12px;
  color: var(--color-gray);
}

.post__content {
  margin-top: 20px;
}

.post__content img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
}

.post__content a {
  color: var(--color-highlight);
}

.post__content p code {
  padding: 2px 5px;
  border-radius: 5px;
  background-color: var(--color-gray--light);
}

.post__content p,
.post__content ul,
.post__content ol,
.post__content pre,
.post__content pre[data-language],
.post__content blockquote {
  margin-bottom: 20px;
}

.post__content strong,
.post__content b {
  font-weight: bold;
  font-family: "RobotoRegular", Arial, Helvetica, sans-serif;
}

.post__content ul,
.post__content ol {
  margin-left: 18px;
}

.post__content li:not(:last-child) {
  margin-bottom: 5px;
}

.post__content h1,
.post__content h2,
.post__content h3,
.post__content h4,
.post__content h5,
.post__content h6  {
  margin-bottom: 10px;
  font-family: "RobotoSlab", Arial, Helvetica, sans-serif;
}

/* FOOTER */
.footer {
  font-size: 14px;
  padding: 30px 0;
  color: var(--color-white);
  background-color: var(--color-dark);
}

.footer__love {
  color: red;
  animation: heartBeat infinite 0.5s;
}

@keyframes heartBeat {
  from {
    transform: scale(1, 1);
  }

  to {
    transform: scale(1.1, 1.1);
  }
}
