/* FOOTER */
.footer {
  font-size: 14px;
  padding: 30px 0;
  color: var(--color-white);
  background-color: var(--color-dark);
}

.footer__love {
  display: inline-block;
  animation: heartBeat infinite 0.5s;
}

@keyframes heartBeat {
  from {
    transform: scale(1, 1);
  }

  to {
    transform: scale(1.1, 1.1);
  }
}
