/* MAIN */
.main {
  margin-top: 50px;
  margin-bottom: 50px;
  min-height: calc(100vh - 179px);
}

body {
  background-color: var(--color-white);
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji";
}
