<header class="header">
  <div class="grid-container is-flex is-flex--space-between is-flex--vertical-centered">
    <div class="header__logo">
      <a href="/" class="is-flex is-flex--vertical-centered">
        <img class="header__logo__img" src="/img/me.jpg" alt="Firmino Changani" />
        <h1>Firmino Changani</h1>
      </a>
    </div>
    <nav class="header__nav">
      <ul class="is-flex">
        <li>
          <a href="https://github.com/flowck">Github</a>
        </li>
        <li>
          <a href="https://linkedin.com/in/firminochangani">LinkedIn</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
